@tailwind base;
@tailwind components;
@tailwind utilities;


:root {

  /* Colors: */
  --gcolor: #409B19;
  --graycolor: #ADADAD;
  --bcolor: #0351FC;
  --wcolor: #FFFFFF;
  --bcolor: #000000;
  }

  * {
    margin: 0;
    padding: 0;
    box-sizing: none;
    font-family: "Poppins", sans-serif;
  }
  /* gloabal spacing */
  .padding-x {
    @apply sm:px-16 px-6;
  }
  
.footer{
  background-image: url('./assets/images/headerbg.png');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}
 